body {
  font-family: 'Lato', sans-serif;
}

#land {
  width: 100% ;
  height: 100vh ;
  background-image: url('night.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #FFF;
}

#land .cont {
  border: 1px solid transparent;
}

.play_border {
    margin:30px;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}
.play_border:hover{
    border-color: transparent;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_border:hover .play_button{
    border-left: 10px solid rgba(0,0,0,0.5);
}
.play_border:active{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
.play_button {
    position:relative;
    top: 10px;
    left: 40%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.8);
} 