#carousel{
    padding: 100px 0;
    background-color: #f6f6f4;
    position: relative;

  .flat-box{
    background-color: #fff;
    box-shadow: 0px 3px 0px 0px #eaeaea;
  }
  .colour1 {
    background-color: #f69679;
  }
  .colourway {
    height: 346px;
  }
  .title{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #9197a8;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .feature-text{
    padding: 0px 20px 40px 40px;
    font-style: italic;
    color: #7a8387;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .colour2{
    background-color: #e8b968;
  }
  .colour3{
    background-color: #7accc8;
  }
  .colour4{
    background-color: #373b44;
  }
  p{
    color: #7A8B8B;
    line-height: 30px;
    font-weight: 300;
    font-size: 50%;
  }
  .design-content{
    h1{
    color: #abbcc3;
    font-size: 38px;
    font-weight: 300;
    margin-top: 0;
    }
  }
} 
 

    