#smartphone{
  position: relative;
  background-color: #F4B350;
  background-size: cover;
  width: 100%;

  h3{
    font-size: 40px;
    color:#fff;
    font-weight: 100;
  }
 
 .img-container {
  padding: 0;
  }

  .btn-default {
   background-color: transparent;
   border: 2px solid #fff;
   &:hover{
    text-decoration: none;
    border-color: #a58347;
    color: #a58347;
   }
  }
  .btn{
    color:#fff;
  }

  .data{
    p{
      font-size:15px;
      color:#fff;
    }
  }
}


